<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
    <br>
    <h2>Artigos</h2>
    <a href="/admin/articles/new" class="btn btn-success">Criar Artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => {  %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>
                    <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Editar</a>

                    <form style="display: inline" action="/articles/delete" method="post" onsubmit="confirmarDelecao(event, this)">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                    
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm('Deseja deletar o artigo?');

        if(decision){
            form.submit();
        }

    }
</script>
<%- include('../../partials/footer') %>