<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
    <br>
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success">Criar Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => {  %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.title %></td>
                <td><%=category.slug %></td>
                <td>
                    <button class="btn btn-warning">Editar</button>

                    <form style="display: inline" action="/categories/delete" method="post" onsubmit="confirmarDelecao(event, this)">
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <button class="btn btn-danger">Excluir</button>
                    </form>
                    
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm('Deseja deletar a categoria?');

        if(decision){
            form.submit();
        }

    }
</script>
<%- include('../../partials/footer') %>